@charset "utf-8";
html {
    font-size: 10px;
}
body {
    font: 1.5rem/1.8 verdana, sans-serif;
    color: #333;
}
.logo {
    font-size: 1.5rem;
    font-weight: normal;
    letter-spacing: 4px;
}

h2, h3 {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
}
h2 {
    font-size: 2.4rem;
}
h3 {
    font-size: 1.6rem;
}

a {
    color: #fff;
    text-decoration: none;
}
button {
    color: #fff;
}
::placeholder {
    color: #ccc;
}
.main_tit {
    font-size: 3.6rem;
    letter-spacing: 4px;
    color: rgba(255, 255, 255, 0.7);
}

/* section2 */
#menu h3 {
    color: #fff;
}

/* section3 */
#event h3 {
    font-size: 1.8rem;
    font-weight: 700;
}
#event li p:first-of-type {
    color: #999;
}

/* footer */
footer {
    color: #777;
}

