@charset "utf-8";
/* 초기화 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 헤더 콘텐츠 푸터 */
/* .clearfix::after {
    content: '';
    clear: both;
    display: block;
} */

/* 공통 */
#wrap {
    /* 가로 가운데 맞춤 */
    width: 1200px;
    margin: 0 auto;
}

header, #contents, footer {
    display: flex;
}

/* 헤더 */

/* 로고 */
.logo {
    width: 200px;
    height: 100px;
    background: lightpink;
}
/* 내비게이션 */
nav {
    width: 1000px;
    height: 100px;
    background: lightsalmon;
}

/* 슬라이드 */
#slide {
    height: 300px;
    background: lightcoral;
}

/* 메인 컨텐츠 */
#contents div {
    width: 400px;
    height: 200px;
}
.tabs {
    background: gold;
}
.banner {
    background: lavender;
}
.shortcut {
    background: greenyellow;
}


/* 푸터 */
.b_logo {
    width: 200px;
    height: 100px;
    background: firebrick;
}
.addr {
    width: 800px;
    height: 100px;
    background: fuchsia;
}
.sns {
    width: 200px;
    height: 100px;
    background: aquamarine;
}
