@charset 'utf-8';

/* 커스텀 스크롤바: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
body {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera, Edge*/
}

#fullpage .section {
    height: 100vh;
}
#fullpage #footer {
    height: auto;
}


#section1 {
    background: lightblue;
}

#section2 {
    background: lightgoldenrodyellow;
}

#section3 {
    background: lightcoral;
}

#section4 {
    background: lightskyblue;
}

#footer {
    background: #111;
}